*{
    margin:0;
    padding:0;
}
input:focus{
    outline:none;
}

.r1{
    height:100%;
    width:10px;
    display:block;
    float:left;
}
.c1{
    height:2%;
    width:100%;
}
.c2{
    margin-top:-2px;
    width:96%;
    height:1px;
    background-color:rgb(203,202,200);
}
.c3{
    width:100%;
    height:15px;
}
.c4{
    width:100%;
    height:200px;
}