<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句  
private int administratorId;		//管理员ID
	private int administratorName;      //管理员名字
	private int administratorPassword;	//管理员密码 
	-->
<mapper namespace="cn.bingchuang.mapper.AdministratorMapper">

	<!-- 管理员注册 -->
	<insert id="addadministrator"  parameterType="cn.bingchuang.pojo.Administrator">
		<selectKey keyProperty="administratorId" resultType="Integer" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into administrator(administrator_id,administrator_name,administrator_password)
		values (#{administratorId},#{administratorName},#{administratorPassword})
	</insert>
	
	<!-- 管理员登录 -->
	<select id="selectbyusernameandpassword" parameterType="map" resultType="cn.bingchuang.pojo.Administrator">
		select * from administrator where administrator_id=#{administratorUsername} and administrator_password=#{administratorPassword}
	</select>

</mapper>